### IMPORTING THE LIBRARIES

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [30]:
# Read the dataset and display the head. You will get the output as mentioned below

df = pd.read_csv(r'D:/Data science/notebook/data/train.csv')

df

           col1        col2  output
0    -38.366669  113.000000       1
1    -39.818572  123.943369       1
2    -55.638240  114.551862       1
3    -36.378005   95.616515       1
4    -39.366669  112.000000       1
...         ...         ...     ...
1273  -7.017043    3.026211       0
1274   5.633331    5.000000       0
1275 -13.501376  -12.774656       0
1276 -13.451631    0.015515       0
1277  18.634295   -6.581324       0

[1278 rows x 3 columns]

In [4]:
y = df.pop('output')
X = df

In [10]:
y

0       1
1       1
2       1
3       1
4       1
       ..
1273    0
1274    0
1275    0
1276    0
1277    0
Name: output, Length: 1278, dtype: int64

In [11]:
from sklearn.preprocessing import StandardScaler
a = X.columns
standardized_data = StandardScaler().fit_transform(X)
print(standardized_data.shape)

(1278, 2)

In [12]:
df1 = pd.DataFrame(standardized_data, columns =a )
df1.head()

       col1      col2
0 -0.525819  1.575909
1 -0.547050  1.738080
2 -0.778379  1.598907
3 -0.496739  1.318302
4 -0.540442  1.561090

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=0)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(1022, 2) (1022,)
(256, 2) (256,)

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [16]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

0.61328125

In [18]:
from sklearn.svm import SVC

In [19]:
classifiers = SVC(kernel='linear')
classifiers.fit(X_train,y_train)
y_pred1 = classifiers.predict(X_test)

In [20]:
metrics.accuracy_score(y_test, y_pred1)

0.61328125

In [22]:
classifiers1 = SVC(kernel='rbf')
classifiers1.fit(X_train,y_train)
y_pred2 = classifiers1.predict(X_test)

In [23]:
metrics.accuracy_score(y_test, y_pred2)

1.0

In [25]:
from pickle import dump

dump(standardized_data, open(r'D:\Data science\notebook\data\pikel\std.pkl', 'wb'))

dump(classifiers1, open(r'D:\Data science\notebook\data\pikel\cla.pkl', 'wb'))